@model GenreRequestModel
<form asp-action="Create" asp-controller="Genre">
    <div class="my-3">
        <label>Enter a Genre</label>
        <input type="text" name="Name" placeholder="Enter Genre Title" class="form-control"/>
    </div>
    <input type="submit" value="Save" class="btn-primary btn"/>
</form>