@model IEnumerable<MovieResponseModel>

<div class="d-flex">
    <h1>Movies List</h1>
    <a class="border border-primary m-2 rounded-circle" asp-action="Create" asp-controller="Movie">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-file-plus-fill text-primary m-2" viewBox="0 0 16 16">
            <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0"/>
        </svg>
    </a>
    <div class="h-8 my-3">
        <select asp-items="ViewBag.GenresList">
            <option value="0">Select</option>
        </select>
    </div>
    <a class="m-2 my-3" asp-action="GrosserFilter" asp-controller="Movie">
        Highest Grossing Movies
    </a>
    <a class="m-2 my-3" asp-action="Genre" asp-controller="Movie">
        Genre
    </a>
</div>
@if (Model != null)
{
    
    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in Model)
        {
            <partial name="_MovieCard" model="item"/>
        }
    </div>
}
else
{
    <h3>No Movies to show</h3>
}